[Unit]
Description=Apache Zookeeper
After=network.target

[Service]
User=zookeeper
Group=zookeeper
SyslogIdentifier=zookeeper
ExecStart={{ alt_home }}/bin/zkServer.sh start-foreground
RuntimeDirectory=/var/run/zookeeper

[Install]
WantedBy=multi-user.target
